<%= render("layouts/todos") %>	

<script type="text/javascript">
	(function($) {
		$(document).bind("FBSDKLoaded", function() {
			FB.getLoginStatus(function(response) {
				if (response.status === "connected") {
					FB.api("/me/picture", {
						"redirect": false,
						"height": "200",
						"type": "normal",
						"width": "200"
					}, function(picResponse) {
						if (picResponse && !picResponse.error) {
							var picElement = document.getElementById("profile-pic");
							//create div for portfolio column
							var HTML =  '<img src='+
							picResponse.data.url+'>';
							picElement.innerHTML += HTML;
						}
					});
					FB.api("/me/friends", function (response) {
						if (response && !response.error) {
							//console.log(response);
							document.getElementById("friends-number").innerHTML += 
							"You currently have <strong>" + response.summary.total_count + "</strong> Facebook friends" +
							' and <strong><%= User.all.length %></strong> Hello World friends.';
						}
					});
				}
			});
		});
	})(jQuery);
</script>

<div id="wrapper">
	  <!-- Sidebar -->
	  <div id="sidebar-wrapper">
		   <ul class="sidebar-nav">
		       <li class="sidebar-brand">
		           <a href="#">
		               <div id="profile-pic"><h3><%= @user.first_name + " " + @user.last_name %></h3></div>
		           </a>
		       </li>
		       <li>
		           <a href="#recent-activity"><span class="sidebar-icon glyphicon glyphicon-time"></span>Recent Activity</a>
		       </li>
		       <li>
		           <a href="#locations"><span class="sidebar-icon glyphicon glyphicon-globe"></span>Locations</a>
		       </li>
		       <li>
		           <a href="#friends"><span class="sidebar-icon glyphicon glyphicon-user"></span>Friends</a>
		       </li>
		   </ul>
	  </div>
	  <!-- /#sidebar-wrapper -->

	  <!-- Page Content -->
	  <div id="page-content-wrapper">
		   <div class="container-fluid">
				<div class="row">
	           <div class="col-lg-12 page-section" id="recent-activity">
					<span class="glyphicon glyphicon-content glyphicon-time"></span>
					<h1>Recent activity</h1>
						<p id="last-location">
						<% if @last_location %>
						You last went to
						<strong>
							<%= @last_location %>
						</strong>
						!
						<% else %>
							You haven't travelled to anywhere yet!
						<% end %>
						</p>
					<div class="owl-carousel" id="gallery">
						<!--Content for image gallery-->
					</div>
	           </div>
		       </div>
				<hr>
				<div class="row">
		         <div class="col-lg-12 page-section" id="locations">
					<span class="glyphicon glyphicon-content glyphicon-globe"></span>
						<h1>Locations</h1>
						<p>You have been to
							<% if @locations.size == 0 %>
								nowhere		<!--display 'nowhere' if user has not uploaded photos-->
							<% else %>
								<% @locations.keys[0..2].each do |location| %>
									<h5 class="country-name">
									<%= location %>,
									</h5>
								<% end %>
								<% if @locations.size > 3 %>
									<h5>
									and <%= @locations.size - 3 %> places,
									</h5>
								<% end %>
							<% end %>
							and are yet to visit <%= 256 - @locations.size %> other places!
						</p>
					</div>
				</div>
				<hr>
				<div class="row">
		         <div class="col-lg-12 page-section" id="friends">
						<span class="glyphicon glyphicon-content glyphicon-user"></span>
						<h1>Friends</h1>
						<div id="friends-number"></div>
						<div id="friend-photos"></div>
					</div>
				</div>
		   </div>
	  </div>
	<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<script>
	//show photo gallery of recent trip
	var gallery = document.getElementById("gallery");
	<% @last_location_photos.each do |photo| %>
		var pic = document.createElement("div");
		pic.innerHTML += '<img class="thumbnail img-responsive" src=<%=photo.link%>>';
		gallery.appendChild(pic);	//get row number of the image
	<% end %>
	$("#gallery").owlCarousel({
		autoPlay: 5000,
		paginationSpeed: 200,
		rewindSpeed: 300,
		stopOnHover: true,
		items: 4
	});
</script>

<script>
	//show friend profile pics
	var friendPhotos = document.getElementById("friend-photos");
	<% @users.each do |user| %>
		var photo = document.createElement("img");
		photo.className = "img-horizontal";
		photo.src = "<%= raw user.profile_pic_link %>";
		friendPhotos.appendChild(photo);
	<% end %>
</script>
