<%= render("layouts/todos") %>	

<script type="text/javascript">
	(function($) {
		$(document).bind("FBSDKLoaded", function() {
			FB.getLoginStatus(function(response) {
				if (response.status === "connected") {
					FB.api("/me/picture", {
						"redirect": false,
						"height": "200",
						"type": "normal",
						"width": "200"
					}, function(picResponse) {
						if (picResponse && !picResponse.error) {
							var picElement = document.getElementById("profile-pic");
							//create div for portfolio column
							var HTML =  '<img src='+
							picResponse.data.url+'>';
							picElement.innerHTML += HTML;
						}
					});
				}
			});
		});
	})(jQuery);
</script>

<!--div id="profile-pic"><h3><%= @user.first_name + " " + @user.last_name %></h3></div-->
<div id="wrapper">
	  <!-- Sidebar -->
	  <div id="sidebar-wrapper">
		   <ul class="sidebar-nav">
		       <li class="sidebar-brand">
		           <a href="#">
		               <div id="profile-pic"><h3><%= @user.first_name + " " + @user.last_name %></h3></div>
		           </a>
		       </li>
		       <li>
		           <a href="#profile-info">Recent Activity</a>
		       </li>
		       <li>
		           <a href="#locations">Locations</a>
		       </li>
		       <li>
		           <a href="#achievements">Achievements</a>
		       </li>
		   </ul>
	  </div>
	  <!-- /#sidebar-wrapper -->

	  <!-- Page Content -->
	  <div id="page-content-wrapper">
		   <div class="container-fluid">
				<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
		       <div class="row">
		           <div class="col-lg-12">
		               <h1>Simple Sidebar</h1>
		               <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
		               <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
		           </div>
		       </div>
				<div class="row">
	           <div class="col-lg-12" id="profile-info">
					<h1>Recent activity</h1>
						<p id="last-location">
						You last went to
						<% if @last_location %>
							<%= @last_location.location_name %>
						<% end %>
						!
						</p>
						<img src="<%=@last_location.link%>">
	           </div>
		       </div>
				<div class="row">
		         <div class="col-lg-12" id="locations">
						<h1>Locations</h1>
						<p>You have been to
							<% @locations.each do |location| %>
								<h5 class="country-name">
								<%= location %>,
								</h5>
							<% end %>
							and are yet to visit <%= 256 - @locations.size %> other places!
						</p>
				</div>
				<div class="row">
		         <div class="col-lg-12" id="achievements">
						<h1>Achievements</h1>
						<p>You have logged in for 15 days.
						</p>
					</div>
				</div>
		   </div>
	  </div>
	<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

	<!-- Menu Toggle Script -->
	<script>
	$("#menu-toggle").click(function(e) {
	  e.preventDefault();
	  $("#wrapper").toggleClass("toggled");
	});
	</script>
