<%= render("layouts/todos") %>	
	<script>
	(function($) {
		$(document).bind("FBSDKLoaded", function() {
			FB.getLoginStatus(function(response) {
				if (response.status === "connected") {
					FB.api("/me/friends", function (response) {
						if (response && !response.error) {
							console.log(response);
							document.getElementById("friends-list").innerHTML += 
							"<br>"+"You currently have " + response.summary.total_count + " friends on Hello World.";
							for (var i = 0; i < response.data.length; i++) {
								
								//console.log("top" + i);
								(function() {	//closure to ensure asynchronous calls to FB APIs is correct
									var j = i;
									FB.api("/" + response.data[j].id + "/picture", {
										"redirect": false,
										"height": "50",
										"type": "normal",
										"width": "50"
									},
									function (picResponse) {
										if (picResponse && !picResponse.error) {
											var picElement = document.getElementById("friends");
											//create div for portfolio column
											var HTML =  '<div class="row friend"><img class="friend-image img-responsive" src="'+
											picResponse.data.url+'">'+'<a class="friend-text" href="http://localhost:3000/profiles/friend' + "?id=" + response.data[j].id + '">' + response.data[j].name + '</a></div>'
											//console.log("inside" + j);
											//place friend name and end the div
											picElement.innerHTML += HTML;
											console.log(picElement.innerHTML);
										}
									});
									//console.log(response.data.length + "and" + i);
								})();
							}
						}
					});
				}
			});
		});
	})(jQuery);
	</script>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
		  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Friends</a>
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#"> Friends </a>
            </li>
            <div id="friends-list">
                <div id="friends"></div>
            </div>
        </ul>
		<div id="invite-friends-button">
			<script>
			function FacebookInviteFriends() {
				FB.ui({
					method: 'apprequests',
					message: 'Join Hello World now!'
				});
			}
			</script>

			<button class="btn btn-primary" onclick="FacebookInviteFriends();"> 
				<img id="facebook-icon" src="http://www.giant-bicycles.com/images/interface/facebook_icon_30x30.gif">Invite Friends
			</button>
		</div>
    </div>
    <!-- /#sidebar-wrapper -->

    <div id="friends-title" class="jumbotron">
	   <h1>Share your photos.</h1>
	   <p>Invite your friends from Facebook!</p>
    </div>

	<!-- Page Content -->
	<div id="page-content-wrapper" id="friends-main">
		<div class="section-icon">
		<span class="glyphicon glyphicon-comment"></span>
		</div>
		<h1 class="section-title"> News Feed </h1>
		<!--#################################  Timeline  #######################################-->
		<!-- Credits to http://codepen.io/munkhbayar/pen/Boqzc-->
		<div id="timeline-container" class="container">
			 <ul class="timeline">
				<li class="timeline-inverted">
					 <div class="timeline-badge primary">19/9</div>
					 <div class="timeline-panel">
					   <div class="timeline-heading">
					     <img class="profile-pic" src="<%= @user.profile_pic_link %>"><h4 class="name"><%= @user.first_name + " " + @user.last_name %></h4><h4 class="timeline-title"> updated new photos for <%= @recent_location %></h4>
					   </div>
					   <div class="timeline-body" id="timeline-body1">
							<span class="glyphicon glyphicon-chevron-right"><a href="http://localhost:3000/todos/index" class="text-icon">more</a></span>
					   </div>
					 </div>
				  </li>
				  <li class="timeline-inverted">
					 <div class="timeline-badge primary">16/9</div>
					 <div class="timeline-panel">
					   <div class="timeline-heading">
					     <img class="profile-pic" src="<%= @user.profile_pic_link %>"><h4 class="name"><%= @user.first_name + " " + @user.last_name %></h4><h4 class="timeline-title"> commented on Edwin Li's photo: <em>Australia trip</em></h4>
					   </div>
					   <div class="timeline-body" id="timeline-body2">
					   </div>
					 </div>
				  </li>
					<li class="timeline-inverted">
					 <div class="timeline-badge primary">15/9</div>
					 <div class="timeline-panel">
					   <div class="timeline-heading">
					     <img class="profile-pic" src="<%= @user.profile_pic_link %>"><h4 class="name"><%= @user.first_name + " " + @user.last_name %></h4><h4 class="timeline-title"> added Edwin Li as a friend</h4>
					   </div>
					   <div class="timeline-body">
					   </div>
					 </div>
				  </li>
			 </ul>
			<span class="glyphicon glyphicon-chevron-down"></span><h4 class="text-icon">Show older activities</h4>
		</div>

<script>
	var body1 = document.getElementById("timeline-body1");
	<% @recent_photos.each do |photo| %>
		var img = document.createElement("img");
		img.setAttribute("src",'<%= raw(photo.link) %>');	//ensures characters such as ampersand are escaped
		img.setAttribute("class", "thumbnail");
		body1.appendChild(img);
		console.log(img);
	<% end %>

	//var body2 = document.getElementById("timeline-body2");
	
</script>

<hr>
<!---########################### Recent albums ########################-->
	<div id="recent-photos" class="container">
	   <div class="section-icon">
		<span class="glyphicon glyphicon-picture"></span>
		</div>
		<h1 class="section-title"> Recent photos </h1>
			<select id="search-friends" class="demo-default search-friends" placeholder="Search for a friend...">
				<%= render :partial => "layouts/selectizefriends" %>
			</select>
			<script>
				$("#search-friends").selectize();
				//when user selects a friend
				$("#search-friends").change(function() {
					var f = document.getElementById("search-friends");
					var friend = { id: f.options[f.selectedIndex].value };
					$.ajax({
						type: 'POST',
						url: 'friendPhotos',
						dataType: 'json',
						contentType: 'application/json',
						data: JSON.stringify(friend),
						success: function(response) {
							console.log(response);
							var pictures = document.getElementById("pictures-1");
							while (pictures.firstChild) pictures.removeChild(pictures.firstChild);
							for (var i = 0; i < response.msg.length; i++) {
								var div = document.createElement("div");
								div.setAttribute("class", "col-md-4 portfolio-item");
								pictures.appendChild(div);
								var image = document.createElement("img");
								image.setAttribute("class", "img-responsive friend-photo");
								image.setAttribute("src", response.msg[i].link);
								div.appendChild(image);
								div.innerHTML += "<h3>" + response.msg[i].photo_name + "</h3>" +
														"<p>" + response.msg[i].location_name + " on " + '<span class="glyphicon glyphicon-time time-icon"></span>' + parseDate(response.msg[i].date) + "</p>";
							}
						}
					});
				});

			//parses JSON (ISO8601) to dd/mm/yyyy format
			function parseDate(string) {
				var date = new Date(string);
				return date.getUTCDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear();
			}
			</script>

	     <!-- Projects Row -->
	     <div class="row" id="pictures-1">
	        <!--Content for recent photos goes here-->
	     </div><!-- /.row -->

	     <hr>

	     <!-- Pagination -->
	     <div class="row text-center">
	         <div class="col-lg-12">
	             <ul class="pagination">
	                 <li>
	                     <a href="#">&laquo;</a>
	                 </li>
	                 <li class="active">
	                     <a href="#">1</a>
	                 </li>
	                 <li>
	                     <a href="#">2</a>
	                 </li>
	                 <li>
	                     <a href="#">3</a>
	                 </li>
	                 <li>
	                     <a href="#">4</a>
	                 </li>
	                 <li>
	                     <a href="#">5</a>
	                 </li>
	                 <li>
	                     <a href="#">&raquo;</a>
	                 </li>
	             </ul>
	         </div>
	     </div>
	     <!-- /.row -->
		  <hr>
    </div>
    <!-- /.recent-photos -->
	</div>
	<!-- /.page-content-wrapper -->
</div>
<!-- ./wrapper -->

 <!-- Menu Toggle Script -->
 <script>
 $("#menu-toggle").click(function(e) {
     e.preventDefault();
     $("#wrapper").toggleClass("toggled");
 });
 </script>
